<% if notice %>
<div class="alert-box warning ">
  <%= notice %>
</div>
<% end %>

<p>
  <strong>Imię:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Typ płatności:</strong>
  <%= @order.pay_type %>
</p>
<p>
  <strong>Produkty:</strong>
  <table>
  <% @order.line_items.each do |it| %>
  <tr>
    <td>
      <%= it.quantity  %> &times;
    </td>
    <td>
     <%= Product.find(it.product_id).title %> 
    </td>
  <tr>
  <% end %>
  </table>
</p>
<%= link_to 'Edytuj', edit_order_path(@order) %> |
<%= link_to 'Wstecz', orders_path %>
