
<div class="large-3 large-centered columns">
  <h2>Logowanie</h2>
  <div class="login-box">
  <div class="row">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

       <div class="row">
         <div class="large-12 columns">
                 <%= f.label :email %>
               <%= f.email_field :email, autofocus: true %>
         </div>
       </div>
      <div class="row">
         <div class="large-12 columns">
                 <%= f.label "Hasło" %> 
                 <%= f.password_field :password, autocomplete: "off" %>
         </div>
      </div>
      <div class="row">
        <div class="large-12 large-centered columns">
              <%= f.submit "Zaloguj", :class=>"button expand" %>
        </div>
      </div>
<% end %>
</div>
</div>
</div>