
<div id="product_list">
  <h1>Oferta</h1>

  <table>
  <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

      <td>
        <%= image_tag(product.image_url, :class => 'list_image') %>
      </td>

      <td class="list_description">
        <dl>
         <br/>
          <dt><%= link_to product.title, product %></dt>
          <dd><%= truncate(strip_tags(product.description),
                 :length => 400) %></dd>
        </dl>
      </td>

      <td class="list_actions">
        
        <%= link_to 'Edytuj', edit_product_path(product),:class => 'button tiny radius' %><br/>
        <%= link_to 'Usuń', product, 
                    :data => {:confirm => 'Na pewno?'},
                    :method => :delete,
                    :class => 'button tiny radius' %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<br />

<%= link_to 'Dodaj produkt', new_product_path,:class => 'button small radius' %>