<% if notice %>
<div class="alert-box [success warning error]">
	<%= notice %>

</div>
	<% end %>
<p>
  <strong>Nazwa:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Opis:</strong>
  <%=sanitize(@product.description) %>
</p>

<p>
  <strong>Obrazek:</strong><br>
  <%= image_tag(@product.image_url) %>
</p>

<p>
  <strong>Cena:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edytuj', edit_product_path(@product) %> |
<%= link_to 'Cofnij', products_path %>
