<%# app/views/students/_list.html.erb %>
<div id="filterrific_results">



<% if notice %>
<div class="alert-box success ">
	<%= notice %>
</div>
<% end %>


<h1>Oferta</h1>
<br>

<% @products.each do |product|  %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= link_to product.title, '/podglad/' + product.id.to_s, :method => :get %></h3>
    <%= sanitize(product.description) %>
    <div class="price_line">
      <span class="price"><%= sprintf("%0.02f zł",product.price) %> </span>
      <%= button_to 'Dodaj do koszyka', line_items_path(:product_id => product), :remote => true %>
    </div>
  </div>
<% end %>

