


<% if notice %>
<div class="alert-box success ">
  <%= notice %>
</div>
<% end %>
<div>
<ul class="breadcrumbs">
  <li><%= link_to 'Sklep', store_path %></li>
  <li class="current"><a href="#">Podgląd produktu</a></li>
</ul>
  </div>
<% product = Product.find(@id) %>

    	<%= image_tag(product.image_url,:class => "th")  %>
     <p>
     	      <span class="success label"><%= sprintf("%0.02f zł",product.price) %> </span>

	     <%= button_to 'Dodaj do koszyka', line_items_path(:product_id => product), :remote => true, :class=>"small button success"%>
	         <div class="price_line">
    </div>
	 </p>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>

