<!DOCTYPE html>
<html>
<head>
  <title>Tupperware store</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag :scaffold %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
    <%= stylesheet_link_tag "foundation", :media => "all" %><!-- <label id="code.slt"/> -->

<!-- END:stylesheet -->
  <!--<%= javascript_include_tag :defaults %> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("http://www.tupperware.pl/xbcr/pl/TUPPERWARE-_LOGO(1).jpg") %>
	<!--<%= @page_title || "Tupperware store" %> -->
    <!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">
      <div id="szukaj">
              <%= search_form_for @search, url: ''  do |f| %>
                <div class="field">
                  <%= f.label :title_cont, "Nazwa zawiera:" %>
                  <%= f.text_field :title_cont %>
                </div>
                <br>
                    <div class="field">
                      <%= f.label :price_gteq, "Cena z przedziału:" %><br>
                      <%= f.text_field :price_gteq %>
                      <%= f.label :price_lteq, "-" %>
                      <%= f.text_field :price_lteq %>    
                    </div>
                <br>
                                <%= f.submit "Szukaj" ,:class => 'button small radius'%>
                <%= link_to "Wyczyść", request.path, :class => 'button small radius'%>

              <% end %><br>
      </div>
     
        <%if signed_in?%>
          <%=link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'button small radius'%>
        <%else%>
          <!-- <li>#<%=link_to "Register", new_user_registration_path%></li> -->
          <!-- <li>#<%=link_to "Login", new_user_session_path%></li> -->
        <%end%>
    
      <% if @cart %>
       <div id="cart"> 
        <% if @cart.line_items.count > 0 %> 
         <%= render @cart %> 
         <% end %>
       </div> 
       <% end %>
    </div>
    <div id="main">
      
      <%= yield %><!-- <label id="code.depot.e.include"/> -->

    </div>
  </div>
</body>
</html>
