<!DOCTYPE html>
<html>
<head>
  <title>Tupperware store</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag :scaffold %>
  <%= stylesheet_link_tag "depot", :media => "all" %><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
    <%= stylesheet_link_tag "foundation", :media => "all" %><!-- <label id="code.slt"/> -->

  <!--<%= javascript_include_tag :defaults %> -->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("http://www.tupperware.pl/xbcr/pl/TUPPERWARE-_LOGO(1).jpg") %>
	<!--<%= @page_title || "Tupperware store" %> -->
    <!-- <label id="code.depot.e.title"/> -->
  </div>
  <div id="columns">
    <div id="side">

    </div>
    <div id="main">
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
    </div>
  </div>
</body>
</html>
